/MyApplication/*.iml
/MyApplication/.gradle
/MyApplication/local.properties
/MyApplication/.idea/*
/MyApplication/.DS_Store
/MyApplication/build/*
/MyApplication/captures
/MyApplication/*.apk
.idea/*
.DS_Store
